@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}
@mixin xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin fonts($family, $weight, $size) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

@mixin flex($direction, $content, $align) {
  flex-direction: $direction;
  align-items: $align;
  justify-content: $content;
}
