@import '../../styles/config.scss';

.widgets {
  margin-bottom: 4em;
  height: auto;
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: 1fr 1fr 1fr;

  @include sm {
    grid-template-columns: 1fr;
  }
}

.widget {
  height: 100%;
  padding: 0.5em 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  filter: drop-shadow(0.3em 0.3em 0.3em $shadow);
  background: linear-gradient(148deg, $light 0%, $normal 30%, $normal 70%, $light 100%);
}

.weatherIcon {
  margin-right: 1em;
}
