@import '../../styles/config.scss';

.about {
  display: grid;
  grid-template-areas: 'image widgets' 'desc desc';
  grid-template-columns: 4fr 2fr;
  gap: 1em;

  @include sm {
    display: block;
  }
}

.widgets {
  grid-area: widgets;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgContainer {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white08;
  background: linear-gradient(148deg, $light 0%, $white08 30%, $white08 70%, $light 100%);
  filter: drop-shadow(0.3em 0.3em 0.3em $shadow);
  img {
    width: 100%;
    max-height: 500px;
    height: auto;
  }
}

.descContainer {
  grid-area: desc;
  align-self: center;
  background: linear-gradient(148deg, $light 0%, $normal 30%, $normal 70%, $light 100%);
  padding: 0.75em 1em;
  height: 100%;
  font-weight: 200;
  color: white;
  filter: drop-shadow(0.3em 0.3em 0.3em $shadow);

  h2 {
    font-weight: 200;
    margin-bottom: 0.5em;
  }

  @include sm {
    margin-top: 2em;
  }
}
