@import '../../styles/config.scss';

.main {
  margin: 0 auto;
  width: 90vw;
  max-width: $max-width;
}

.titleWrapper {
  width: 70%;
  min-width: 500px;
  font-size: 2rem;
  font-weight: 400;

  .subtitle {
    margin-top: 0.5em;
    font-size: 0.7em;
  }
}
