@import '../../styles/config.scss';

.bg {
  background: url('../../assets/img/pic.png') no-repeat;
  background-size: 1920px 770px;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  width: 90vw;
  max-width: $max-width;
}

.titleWrapper {
  max-width: 60%;
  font-size: 5rem;
  font-weight: 400;

  .subtitle {
    margin-top: 0.5em;
    font-size: 0.7em;
  }
}
