.bg {
  position: absolute;
  width: 100%;
  height: 75vh;
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  box-shadow: 0 -0.8rem 0.8rem -0.1rem white inset;
  z-index: -1;
}

.clouds {
	position: absolute;
	height: auto;
	animation: moving 3s ease-in-out 0s infinite;
	user-select: none;
}

.cloud1 {
	width: 45vw;
  min-width: 200px;
	top: 40vmin;
	left: 30vw;
}

.cloud2 {
	width: 21vw;
  min-width: 100px;
	top: 33vmin;
	left: 18vw;
}

.cloud3 {
	width: 24vw;
  min-width: 50px;
	top: 33vmin;
	left: 66vw;
}

@keyframes moving {
  0% {
		transform: translateY(0);
  }

	50% {
		transform: translateY(5%);
	}

  100% {
		transform: translateY(0);
  }
}