@import '../styles/config.scss';

.content-wrapper {
  display: flex;
  justify-content: center;
}
.content {
  margin: 0 auto;
  width: 90vw;
  max-width: $max-width;
}

@media (max-width: 400px) {
  .app {
    &::before {
      content: url('../assets/img/vecror-wave-425.png');
      top: 85rem;
      position: absolute;
    }
    &::after {
      content: url('../assets/img/wave-425.png');
      bottom: 85rem;
      position: absolute;
      z-index: 0;
    }
  }
}
