@import '../../styles/config.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 0.65em;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.formContainer {
  position: relative;
  margin: 0 1em;
  max-width: 500px;
  padding: 2em;
  text-align: center;
  background-color: white;
  border-radius: 0.1em;
  box-shadow: $containerShadow;

  h2 {
    margin-top: 2em;
    font-weight: 200;
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    font-family: inherit;
  }
}

.backBtn {
  position: absolute !important;
  top: 1.5em;
  left: 2em;
}

.form {
  position: relative;
  
  &.signup {
    height: 35vh;
    min-height: 18em;
  }

  &.login {
    height: 25vh;
    min-height: 12em;
  }

  div {
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1em;
  }

  button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5em;
  }

  p {
    margin: 0;
    font-size: 0.75em;
  }
}

.helperText {
  color: $warning;
  font-weight: 400;
}

.uploadBtn {
  margin: 0 auto;
  img {
    display: block;
    margin: 0.5em auto 0;
  }
  span {
    font-size: 0.8em;
  }
}

.linkText {
  color: $normal;
}